<a href="https://colab.research.google.com/github/OhmKulkarni/Working-with-Data-Science/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

Data Science tools include languages like Python and R, libraries such as Pandas and scikit-learn for analysis, and visualization tools like Matplotlib. Jupyter Notebooks provide an interactive environment, while big data tools like Spark enable large-scale data processing. Together, these form a powerful ecosystem for extracting insights from data.

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Demonstrate basic arithmetic operations in Python.
- Convert minutes to hours using Python.
- Understand the role of development environment tools in Data Science.

Some of the popular languages that Data Scientists use are:

1) Python

2) R

3) SQL

4) Julia

5) Scala

---

Some of the commonly used libraries used by Data Scientists include:

1) Pandas

2) Numpy

3) Matplotlib

4) Seaborn

5) Scikit-learn

6) Tensorflow

7) Pytorch

| Data Science Tools      |
|-------------------------|
| Jupyter Notebooks       |
| Apache Zeppelin         |
| RStudio                 |

###Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
hours

3.3333333333333335

##Author
Ohm Kulkarni